<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
  <title>Title</title>
  <style>
    body{
      margin: 0;
      padding: 0;
    }

    .pc_ccs1{
      border: 1px solid;
      width: 200px;
      height: 100px;
    }


  </style>
  <!-[if AppleWebKit]>
  <!--.mb_ccs1{
  width: 20px;
  height: 10px;
  }-->
  <![endif]->
</head>
<body>
<div class="pc_ccs1 mb_ccs1">
<p>qqqqqqqqqq</p>
  <p>22222222222</p>
</div>
<script>

</script>
</body>
</html>
